@charset "UTF-8";

body {
    background-color: var(--main-background-color);
}

/* HEADER */

header {

}
.header-container {
    
}

.header-container__wrapper {
    margin-top: -100px;
}

.header-container__wrapper img {
    width: 100%;
    height: 100%;
}

.header-container__header-text-container {
    padding: 10px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--title-font-family);
    letter-spacing: .8px;
    color: white;

    /* background-color: red; */
}

.title-container__title {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: lighter;
    
}

.subtitle-container__subtitle {
    font-size: .8em;
    font-weight: lighter;
}

/* MAIN */

main {
    padding: 0px 10px;
}

.form {
}

.form__section {
    padding: 15px 0px 15px 15px;
    border-radius: 5px;
    background-color: white;

    margin-bottom: 10px;
}

.form__graduation-section {
}

.form-title-container {
    margin-bottom: 15px;
}

.graduation-title-container {
}

.form__title {
    font-size: 1.2em;
    font-weight: 500;
    font-family: var(--title-font-family);
}

.graduation-radio-container {

}

.input-list-container {
    padding-left: 10px;
}

.input-list-container > div > input {
    width: 18px;
    height: 18px;
}

.graduation-radio-container__graduation-item {
    
}

.check-container {
    display: flex;
    align-items: center;
}

.check-container + .check-container {
    margin-top: 15px;
}

.text-option {
    margin-left: 7px;
    font-size: 1.05em;
    letter-spacing: .5px;
}

.graduation-radio-container__ten {
}
.graduation-radio-container__s-ten {
}
.graduation-radio-container__sgt {
}
.graduation-radio-container__al {
}
.graduation-radio-container__cb {
}
.graduation-radio-container__ep {
}
.graduation-radio-container__ev {
}
.form__name-section {
}
.name-title-container {
}
.name-input-container {
}
.form__tuesday-section {
}
.tuesday-date-container {
}
.date {
}
.date__num {
}
.meal-times-container {
}
.breakfast {
}
.lunch {
}
.dinner {
}
.form__wednesday-section {
}
.wednesday-date-container {
}
.date-container {
}
.form__thursday-section {
}
.form__friday-section {
}
.form__saturday-section {
}
.form__sunday-section {
}
.form__monday-section {
}
.button-container {
}