@charset "UTF-8";

body {
    background-color: var(--main-background-color);
}

/* HEADER */

header {

}
.header-container {
    
}

.header-container__wrapper {
    margin-top: -100px;
}

.header-container__wrapper img {
    width: 100%;
    height: 100%;
}

.header-container__header-text-container {
    padding: 10px 0px 30px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--title-font-family);
    letter-spacing: .8px;
    color: white;

    /* background-color: red; */
}

.title-container__title {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: lighter;
    
}

.subtitle-container__subtitle {
    font-size: .8em;
    font-weight: lighter;
}

/* MAIN */

main {
    margin-bottom: 50px;
    padding: 0px 10px;
}

.form {
}

.form__section {
    padding: 15px 0px 15px 15px;
    border-radius: 5px;
    background-color: white;

    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .form__section {
        min-width: 600px;
    }
    main {
        display: flex;
        justify-content: center;
    }
    .header-container__wrapper {
        margin-top: -60px;
        display: flex;
        justify-content: center;
    }
    .header-container__wrapper img {
        width: 600px;
        height: 400px;
        border-radius: 5px;
    }

}

.form__graduation-section {
}

.form-title-container {
    margin-bottom: 15px;
}

.graduation-title-container {
}

.form__title {
    font-size: 1.2em;
    font-weight: 500;
    font-family: var(--title-font-family);
}

.graduation-radio-container {

}

.input-list-container {
    padding-left: 10px;
}

.input-list-container > div > input {
    width: 16px;
    height: 16px;
}

.graduation-radio-container__graduation-item {
    
}

.check-container {
    display: flex;
    align-items: center;
}

.check-container + .check-container {
    margin-top: 15px;
}

.text-option {
    margin-left: 7px;
    font-size: 1.05em;
    letter-spacing: .5px;
}

.graduation-radio-container__ten {
}
.graduation-radio-container__s-ten {
}
.graduation-radio-container__sgt {
}
.graduation-radio-container__al {
}
.graduation-radio-container__cb {
}
.graduation-radio-container__ep {
}
.graduation-radio-container__ev {
}
.form__name-section {
}
.name-title-container {
}

.name-input-container {
    padding-right: 15px;
}

.name-input-container > input {
    width: 100%;
    height: 30px;

    padding-left: 5px;
    font-size: 1.03em;

    border: 1px solid var(--main-background-color);
    border-radius: 5px;

    background-color: rgb(215, 215, 220);
}

.form__tuesday-section {
}
.tuesday-date-container {
}
.date {
}
.date__num {
}
.meal-times-container {
}
.breakfast {
}
.lunch {
}
.dinner {
}
.form__wednesday-section {
}
.wednesday-date-container {
}
.date-container {
}
.form__thursday-section {
}
.form__friday-section {
}
.form__saturday-section {
}
.form__sunday-section {
}
.form__monday-section {
}

.button-container {
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container > button {
    width: 220px;
    height: 35px;

    border-radius: 5px;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: .5px;

    text-transform: uppercase;

    background-color: white;
}

footer {
    padding-bottom: 20px;
}

.info-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: relative;
}

.footer-text {
    font-size: 1em;
    color: white;
    letter-spacing: 1px;
}

.footer-btn {
    padding: 10px;
    background-color: transparent;
}

.adm-password-container {
    position: absolute;
    top: 2px;
    left: 30px;

    display: flex;
}

.adm-password-container > input {
    width: 200px;
    height: 35px;

    border-radius: 5px 0px 0px 5px;
}

.adm-password-container > button {
    width: 40px;

    font-size: 1.2em;
    border-radius: 0px 5px 5px 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(215, 215, 220);
}


/* fazer a programação -> fazer a pagina do adm -> fazer pagina do adm pra pc -> fazer programação do adm */
